---
layout: page
title: rjuju's home
excerpt: "Latests posts"
search_omit: true
---

<ul class="post-list">
{% for post in paginator.posts %}
  <li>
    <article>
      <a href="{{ site.url }}{{ post.url }}">
        <div class="flag-icon flag-icon-{{ post.lang }}"></div>{{ post.title }}
        <span class="entry-date">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </span>
        {% if post.excerpt and false %}
          <span class="excerpt">
            {{ post.excerpt }}
          </span>
        {% endif %}
      </a>
    </article>
  </li>
{% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&lt;</a>
  {% else %}
    <span class="previous">-</span>
  {% endif %}

  <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">&gt;</a>
  {% else %}
    <span class="next">-</span>
  {% endif %}
</div>
