---
layout: page
title: rjuju's home
excerpt: "Latests posts"
search_omit: true
---

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li>
    <article>
      <a href="{{ site.url }}{{ post.url }}">
        <div class="flag-icon flag-icon-{{ post.lang }}"></div>{{ post.title }}
        <span class="entry-date">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </span>
        {% if post.excerpt and false %}
          <span class="excerpt">
            {{ post.excerpt }}
          </span>
        {% endif %}
      </a>
    </article>
  </li>
{% endfor %}
</ul>
